.chatContent {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-left: clamp(3rem, 5%, 7rem);
    padding-right: clamp(3rem, 5%, 7rem);

    & header {
        margin-top: 6rem;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1;

        & .dateCreated {
            font-size: 1.6rem;
            text-align: inherit;
            color: #787878;
        }

        & h3.description {
            font-size: inherit;
            font-weight: unset;
            color: #ABABAB;
        }
    }

    & main {
        margin-top: 10rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    & footer {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
}