.deleteAccount {
  font-size: inherit;
  width: 28em;

  text-align: center;

  & button {
    padding: 0.2em 1em;
    display: block;

    height: 4rem;

    font-family: inherit;
    font-size: 1.8em;

    font-weight: 700;
    color: #f5f5f5;
    text-align: inherit;

    border-radius: 2em;
    border: none;
    background-color: #ee4d2a;
    cursor: pointer;

    & small {

    }
  }

  .info {
    color: #ababab;
    font-size: 1.5em;
  }
}
