.chatInputBar {
  width: 85%;
  font-size: 1rem;
  height: 8em;
  box-sizing: border-box;

  background-color: #d3d3d3;
  border-radius: 4em;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);

  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  &.enabled {
    border: 1px solid rgba(42, 203, 238, 0.4);
  }

  &.touched {
    background-color: #dbdbdb;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  }

  &.valid {
    // #2AEE9C
    // border: 1px solid rgba(42, 238, 156, 0.4);
    // box-shadow: 0px 1px 5px rgba(0, 122, 20, 0.5);
    & .userInputField {
        // border-color: #00D77C;
        border-bottom: 2px solid #00D77C;
    }
  }

  & .translation {
    color: #ababab;
    font-size: 1.8em;

    position: absolute;
    top: 0.7rem;
    left: 8rem;
  }

  & .showAllTranslations,
  & .inputPlus,
  & .showHints {
    position: absolute;
    // top: 1.8rem;

    display: block;
    width: 4.6rem;
    height: 4.6rem;

    color: #2acbee;
    font-size: 3.2rem;
    line-height: 4.6rem;

    text-align: center;

    border-radius: 50%;
    background-color: #f9f9f9;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(0.9);
    }
  }

  & .inputPlus {
    left: 1.8rem;
  }

  & .showAllTranslations {
    left: -5.8rem;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 3rem;
      height: auto;
    }
  }

  & .showHints {
    right: -3.2rem;
    background-color: #f9f9f9;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s;

    &.showHintsHidden {
      opacity: 0;
      margin-right: -1em;
      visibility: hidden;
    }

    &.showHintsVisible {
      opacity: 1;
      margin-right: 0;
      visibility: visible;
    }

    & img {
      width: 3rem;
      height: auto;
    }
  }

  & .inactive {
    color: #ababab;
  }

  & .userInputField,
  & .hint {
    position: absolute;
    left: 8rem;
    top: 2.9rem;
    font-size: 2.2rem;
    font-family: inherit;
  }

  & .userInputField {
    width: 73%;

    color: #000000;

    border: none;
    border-bottom: 1px solid #bbbbbb;
    background-color: transparent;
    outline-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
  }

  & .hint {
    color: #bbbbbb;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }

  & .sendButton {
    position: absolute;
    right: 1.3em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: unset;
    background: unset;
    padding: unset;
    margin: unset;
    display: inline-block;
    width: 4.2rem;
    height: 4.2rem;

    &.sendButtonEnabled {
      &:hover {
        transform: scale(0.9);
      }
    }

    &.sendButtonDisabled {
      opacity: 0.5;
      transform: scale(0.8);
    }

    & img {
      width: 100%;
      height: 100%;
    }
  }
}
