.dashboard {
    & h1 {
        grid-area: header;
        text-align: center;
        color: #11a6c7;
        font-size: 2.4em;
        margin-top: 9rem;
        margin-bottom: 9rem;
      }

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;

        .leftSide {

        }

        .rightSide {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }
}