.app {
  box-sizing: border-box;
  
  
  width: 100%;

  font-size: 1rem;

  display: grid;
  grid-template-areas: "appHeader" "appMain";
  grid-template-columns: 100%;
  grid-template-rows: 75px 1fr;

  & > * {
    box-sizing: border-box;
  }

  & input[type="text"],
  & input[type="email"],
  & input[type="number"] {
    box-sizing: border-box;
  }

  a {
    text-decoration: underline;
    color: #2ACBEE;
    font-weight: 700;
  }


  // if ChatList is on

  &__header {
    grid-area: appHeader;
  }

  &__main {
    // prevens shadows to bleed into the header area
    overflow: hidden;

    grid-area: appMain;

    z-index: 1;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: stretch;

    & > * {
      width: 100%;
    }
  }
}
