.app {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  width: 100%;

  font-size: 1rem;

  display: grid;
  grid-template-areas: "appHeader" "appMain";
  grid-template-columns: 100%;
  grid-template-rows: 75px 1fr;

  // if ChatList is on

  &__header {
    grid-area: appHeader;
  }

  &__main {
    grid-area: appMain;

    z-index: 1;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: stretch;

    & > * {
      width: 100%;
    }
  }
}
